In [326]:
import pandas as pd
import numpy as np
import math
import talib
from datetime import date
import datetime
import time
import pandas_datareader.data as web
import statsmodels.tsa.stattools as ts
from numpy import cumsum, log, polyfit, sqrt, std, subtract
from numpy.random import randn
import dask.dataframe as dd

In [344]:
df = pd.read_csv('spxl_1min_30th.csv')
df = df[1162:1551]
df = df[['Date','Time', 'Close']]

In [345]:
df
# df=df.loc[(pd.to_datetime(df['Date']) > datetime.date(2017, 1, 1)) & (pd.to_datetime(df['Date']) < datetime.date(2020, 1, 1))]

            Date      Time    Close
1162  04/30/2019   9:31 AM  51.8491
1163  04/30/2019   9:32 AM  51.9000
1164  04/30/2019   9:33 AM  51.9200
1165  04/30/2019   9:34 AM  51.9300
1166  04/30/2019   9:35 AM  51.9400
1167  04/30/2019   9:36 AM  51.9300
1168  04/30/2019   9:37 AM  51.8900
1169  04/30/2019   9:38 AM  51.8900
1170  04/30/2019   9:39 AM  51.8800
1171  04/30/2019   9:40 AM  51.8000
1172  04/30/2019   9:41 AM  51.8599
1173  04/30/2019   9:42 AM  51.8700
1174  04/30/2019   9:43 AM  51.8115
1175  04/30/2019   9:44 AM  51.8700
1176  04/30/2019   9:45 AM  51.8860
1177  04/30/2019   9:46 AM  51.7601
1178  04/30/2019   9:47 AM  51.7900
1179  04/30/2019   9:48 AM  51.7320
1180  04/30/2019   9:49 AM  51.7990
1181  04/30/2019   9:50 AM  51.8352
1182  04/30/2019   9:51 AM  51.8121
1183  04/30/2019   9:52 AM  51.7600
1184  04/30/2019   9:53 AM  51.7600
1185  04/30/2019   9:54 AM  51.8100
1186  04/30/2019   9:55 AM  51.7700
1187  04/30/2019   9:56 AM  51.7600
1188  04/30/2019   9:57 AM  51.7779
1189  04/30/2019   9:58 AM  51.7900
1190  04/30/2019   9:59 AM  51.7900
1191  04/30/2019  10:00 AM  51.7700
...          ...       ...      ...
1521  04/30/2019   3:31 PM  52.1300
1522  04/30/2019   3:32 PM  52.1530
1523  04/30/2019   3:33 PM  52.1800
1524  04/30/2019   3:34 PM  52.1900
1525  04/30/2019   3:35 PM  52.2200
1526  04/30/2019   3:36 PM  52.1901
1527  04/30/2019   3:37 PM  52.2000
1528  04/30/2019   3:38 PM  52.1800
1529  04/30/2019   3:39 PM  52.1950
1530  04/30/2019   3:40 PM  52.1900
1531  04/30/2019   3:41 PM  52.1922
1532  04/30/2019   3:42 PM  52.2200
1533  04/30/2019   3:43 PM  52.1800
1534  04/30/2019   3:44 PM  52.1500
1535  04/30/2019   3:45 PM  52.1200
1536  04/30/2019   3:46 PM  52.1700
1537  04/30/2019   3:47 PM  52.1400
1538  04/30/2019   3:48 PM  52.1500
1539  04/30/2019   3:49 PM  52.1964
1540  04/30/2019   3:50 PM  52.2100
1541  04/30/2019   3:51 PM  52.1850
1542  04/30/2019   3:52 PM  52.1800
1543  04/30/2019   3:53 PM  52.1701
1544  04/30/2019   3:54 PM  52.2310
1545  04/30/2019   3:55 PM  52.2700
1546  04/30/2019   3:56 PM  52.3400
1547  04/30/2019   3:57 PM  52.3299
1548  04/30/2019   3:58 PM  52.3299
1549  04/30/2019   3:59 PM  52.3299
1550  04/30/2019   4:00 PM  52.3299

[389 rows x 3 columns]

In [333]:
shifted = df.shift()['Close']
df.insert(loc=1, column='Close Previous', value=shifted)
arr_df = np.array(df['Close'])
arr_df_prev = np.array(df['Close Previous'])

rsi = talib.RSI(arr_df, timeperiod=12)
rsi_prev = talib.RSI(arr_df_prev, timeperiod=12)

df.insert(loc=2, column='RSI', value=rsi)
df.insert(loc=3, column='RSI Previous', value=rsi_prev)

In [334]:
df.tail()
df = df.reset_index()
df.tail()

,index,Date,Close Previous,RSI,RSI Previous,Time,Close
384,1546,04/30/2019,52.2700,71.021492,64.007808,3:56 PM,52.3400
385,1547,04/30/2019,52.3400,68.907911,71.021492,3:57 PM,52.3299
386,1548,04/30/2019,52.3299,68.907911,68.907911,3:58 PM,52.3299
387,1549,04/30/2019,52.3299,68.907911,68.907911,3:59 PM,52.3299
388,1550,04/30/2019,52.3299,68.907911,68.907911,4:00 PM,52.3299

In [335]:
isLong = False
isShort = False
purchase_price = 0.0
portfolio = 10000

trades = {'time':[], 'close':[], 'trade signal':[]}
trades = pd.DataFrame(data=trades)

def rsi(row):
    global isLong, purchase_price, portfolio, trades
    
    if ((row['RSI'] <= 40.00) and (row['RSI Previous'] > 40.00) and (isLong == False)):
        purchase_price = row['Close']
        isLong = True
        trade = {'time':[row['Date']], 'close':[row['Close']], 'trade signal':["Buy"]}
        trade = pd.DataFrame(trade)
        trades = trades.append(trade)
            
    elif ((row['RSI'] >= 80.00) and (row['RSI Previous'] < 80.00) and (isLong == True)):
        portfolio = portfolio * (row['Close']/purchase_price)
        isLong = False
        trade = {'time':[row['Date']], 'close':[row['Close']], 'trade signal':["Sell"]}
        trade = pd.DataFrame(trade)
        trades = trades.append(trade)

backtest = df.apply(lambda row: rsi(row),axis=1)

In [336]:
trades_buy = trades.shift()['close']
trades['purchase price'] = trades_buy

def profit_loss(row):
    if (row['trade signal'] == "Sell"):
        p_l = (row['close'] / row['purchase price'])
        return p_l
p_l = trades.apply(lambda row: profit_loss(row),axis=1)
trades['profit/loss'] = p_l

In [337]:
trades

     close        time trade signal  purchase price  profit/loss
0  51.7320  04/30/2019          Buy             NaN          NaN
0  52.2000  04/30/2019         Sell          51.732     1.009047
0  52.1401  04/30/2019          Buy          52.200          NaN

In [338]:
np.sum(np.array(trades['profit/loss']) >= 1, axis=0)

C:\Users\Public\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in greater_equal
  """Entry point for launching an IPython kernel.

1

In [339]:
np.sum(np.array(trades['profit/loss']) < 1, axis=0)

C:\Users\Public\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in less
  """Entry point for launching an IPython kernel.

0

In [340]:
len(trades)/2

1

In [341]:
trades['profit/loss'].mean()

1.0090466249130132

In [342]:
trades.sort_values('profit/loss', ascending=False).dropna()

   close        time trade signal  purchase price  profit/loss
0   52.2  04/30/2019         Sell          51.732     1.009047

In [343]:
portfolio

10090.466249130131